.media-object{
  max-width: 64px;
}

.media{
  margin: 5px;
  padding: 5px;
}

.body-text{
  font-size: 12px;
  color: black;
}

.more-margin{
  margin: 5px;
}

.close{
  position: relative;
  top: 0px;
  right: 0px;
}

.width{
  width: 100%;
}

.leftbank{
  height: 100vh;
  overflow: scroll;
  position: fixed;
}

body{
  background-color: #f0f0f0;
}
